@charset "UTF-8";

@font-face {
	font-family: 'maple';
	src: url(../miniProject/font/Maplestory\ Light.ttf)
}

* {
	font-family: 'maple';
}

body {
	/* font-family: Arial, sans-serif; */
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

header {
	background-color: #fff;
	text-align: center;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 20px;
	text-align: center;
	position: relative;
	/* 이미지를 상대적으로 위치시키기 위해 추가 */
	/* display: flex;
            flex-direction: column;
            align-items: center; */
}

.foodMenu-buttons {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

.foodMenu-buttons button {
	width: 140px;
	padding: 10px;
	margin-right: 10px;
	background-color: #FF5EA7;
	color: #fff;
	border: none;
	border-radius: 24px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	/* 부드러운 전환을 위한 추가 */
}

.foodMenu-buttons button:hover {
	background-color: #ccc;
}

.serchBox {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* 추가된 스타일 */
	position: relative;
	z-index: 1;
	/* 이미지 위로 표시되도록 함 */
}

input[type="text"] {
	width: calc(680px - 10px);
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 24px;
	margin-right: 10px;
}

input[type="submit"],
input[type="button"] {
	width: 90px;
	padding: 10px;
	background-color: #FF5EA7;
	color: #fff;
	border: none;
	border-radius: 24px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	/* 부드러운 전환을 위한 추가 */
}

input[type="submit"]:hover {
	background-color: #ccc;
}

.loginBox {
	margin-top: 20px;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.loginBox h3 {
	margin-bottom: 10px;
	color: #FF5EA7;
}

.loginBox form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loginBox label {
	margin-bottom: 5px;
	font-weight: bold;
}

.loginBox input[type="text"],
.loginBox input[type="password"],
.loginBox input[type="submit"],
.loginBox input[type="button"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.loginBox input[type="submit"],
.loginBox input[type="button"] {
	width: 200px;
	padding: 10px;
	background-color: #FF5EA7;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	/* 부드러운 전환을 위한 추가 */
}

.loginBox input[type="submit"]:hover,
.loginBox input[type="button"]:hover {
	background-color: #ccc;
}

footer {
	background-color: #fff;
	text-align: center;
	padding: 20px;
	box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}